<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="0"
    android:versionName="0.2"
    package="isamix.inventario">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inventario"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".crud.FuncionamientoApp"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <!-- PRODUCTOS -->
        <activity
            android:name=".crud.producto.ListaCategoria"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".crud.producto.ListaProductoPorCategoria"
            android:exported="false"
            android:parentActivityName=".crud.producto.ListaCategoria" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.producto.ListaCategoria" />
        </activity>

        <activity
            android:name=".crud.ListaCompra"
            android:exported="false"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".crud.producto.ListaProducto"
            android:exported="false"
            android:parentActivityName=".crud.producto.ListaCategoria" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.producto.ListaCategoria" />
        </activity>

        <activity
            android:name=".crud.producto.EditarProducto"
            android:exported="false"
            android:parentActivityName=".crud.producto.ListaCategoria">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.producto.ListaCategoria" />
        </activity>
        <activity
            android:name=".crud.producto.VerProducto"
            android:exported="false"
            android:parentActivityName=".crud.producto.ListaCategoria" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.producto.ListaCategoria" />
        </activity>
        <activity
            android:name=".crud.producto.NuevoProducto"
            android:exported="false"
            android:parentActivityName=".crud.producto.ListaCategoria" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.producto.ListaCategoria" />
        </activity>

        <!-- LIBROS -->
        <activity
            android:name=".crud.libro.ListaGenero"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".crud.libro.ListaLibroPorGenero"
            android:exported="false"
            android:parentActivityName=".crud.libro.ListaLibro" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.libro.ListaLibro" />
        </activity>

        <activity
            android:name=".crud.libro.ListaLibro"
            android:exported="false"
            android:parentActivityName=".crud.libro.ListaGenero" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.libro.ListaGenero" />
        </activity>

        <activity
            android:name=".crud.libro.EditarLibro"
            android:exported="false"
            android:parentActivityName=".crud.libro.ListaGenero">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.libro.ListaGenero" />
        </activity>
        <activity
            android:name=".crud.libro.VerLibro"
            android:exported="false"
            android:parentActivityName=".crud.libro.ListaGenero" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.libro.ListaGenero" />
        </activity>
        <activity
            android:name=".crud.libro.NuevoLibro"
            android:exported="false"
            android:parentActivityName=".crud.libro.ListaGenero" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.libro.ListaGenero" />
        </activity>

        <!-- JUEGOS -->
        <activity
            android:name=".crud.juego.ListaTipoJuego"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".crud.juego.ListaJuegoPorTipo"
            android:exported="false"
            android:parentActivityName=".crud.juego.ListaJuego" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.juego.ListaJuego" />
        </activity>

        <activity
            android:name=".crud.juego.ListaJuego"
            android:exported="false"
            android:parentActivityName=".crud.juego.ListaTipoJuego" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.juego.ListaTipoJuego" />
        </activity>

        <activity
            android:name=".crud.juego.EditarJuego"
            android:exported="false"
            android:parentActivityName=".crud.juego.ListaTipoJuego">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.juego.ListaTipoJuego" />
        </activity>
        <activity
            android:name=".crud.juego.VerJuego"
            android:exported="false"
            android:parentActivityName=".crud.juego.ListaTipoJuego" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.juego.ListaTipoJuego" />
        </activity>
        <activity
            android:name=".crud.juego.NuevoJuego"
            android:exported="false"
            android:parentActivityName=".crud.juego.ListaTipoJuego" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.juego.ListaTipoJuego" />
        </activity>

        <!-- MULTIMEDIA -->
        <activity
            android:name=".crud.multimedia.ListaMultimedia"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".crud.multimedia.ListaPelicula"
            android:exported="false"
            android:parentActivityName=".crud.multimedia.ListaMultimedia" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.multimedia.ListaMultimedia" />
        </activity>

        <activity
            android:name=".crud.multimedia.ListaDiscoMusica"
            android:exported="false"
            android:parentActivityName=".crud.multimedia.ListaMultimedia" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.multimedia.ListaMultimedia" />
        </activity>

        <activity
            android:name=".crud.multimedia.EditarPelicula"
            android:exported="false"
            android:parentActivityName=".crud.multimedia.ListaPelicula">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.multimedia.ListaPelicula" />
        </activity>
        <activity
            android:name=".crud.multimedia.EditarDisco"
            android:exported="false"
            android:parentActivityName=".crud.multimedia.ListaDiscoMusica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.multimedia.ListaDiscoMusica" />
        </activity>

        <activity
            android:name=".crud.multimedia.VerPelicula"
            android:exported="false"
            android:parentActivityName=".crud.multimedia.ListaPelicula" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.multimedia.ListaPelicula" />
        </activity>
        <activity
            android:name=".crud.multimedia.VerDisco"
            android:exported="false"
            android:parentActivityName=".crud.multimedia.ListaDiscoMusica" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.multimedia.ListaDiscoMusica" />
        </activity>

        <activity
            android:name=".crud.multimedia.NuevaPelicula"
            android:exported="false"
            android:parentActivityName=".crud.multimedia.ListaPelicula" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.multimedia.ListaPelicula" />
        </activity>
        <activity
            android:name=".crud.multimedia.NuevoDisco"
            android:exported="false"
            android:parentActivityName=".crud.multimedia.ListaDiscoMusica" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".crud.multimedia.ListaDiscoMusica" />
        </activity>

    </application>

</manifest>